################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ReactAspNetCoreWebCRM/webapi/obj
/ReactAspNetCoreWebCRM/WebCRM.Common/obj
/ReactAspNetCoreWebCRM/reactapp/node_modules
/ReactAspNetCoreWebCRM/WebCRM.Data/obj
/ReactAspNetCoreWebCRM/WebCRM.Services/obj
/ReactAspNetCoreWebCRM/obj/Docker
/ReactAspNetCoreWebCRM/.vs
/CRMNUnitTests/obj
/CRMTests/bin/Debug/net7.0
/CRMTests/obj
/ReactAspNetCoreWebCRM/bin/Debug
/ReactAspNetCoreWebCRM/obj/Debug
/ReactAspNetCoreWebCRM/reactapp/obj/Debug
/ReactAspNetCoreWebCRM/webapi/bin/Debug/net7.0
/ReactAspNetCoreWebCRM/WebCRM.Common/bin/Debug/net7.0
/ReactAspNetCoreWebCRM/WebCRM.Data/bin/Debug/net7.0
/ReactAspNetCoreWebCRM/WebCRM.Services/bin/Debug/net7.0
/ReactAspNetCoreWebCRM/WebCRM.WebApi/bin/Debug/net7.0
/ReactAspNetCoreWebCRM/WebCRM.WebApi/obj
/.vs
